%p.normal
  %label{ :for => "integrity_twitter_notifier_email" } Username
  %input.text#integrity_twitter_notifier_username{ :name => "notifiers[IntegrityTwitter][username]", :value => config["username"], :type => "text" }
 
%p.normal
  %label{ :for => "integrity_twitter_notifier_pass" } Password
  %input.text#integrity_twitter_notifier_pass{ :name => "notifiers[IntegrityTwitter][pass]", :value => config["pass"], :type => "text" }
